:root {
    --backgroundcolorDefault: rgba(198, 198, 198, 0.31);
}

body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: var(--backgroundcolorDefault);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-brand {
    color: yellowgreen !important;
    letter-spacing: 0.5px;
    font-family: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    input::placeholder,
    input::-webkit-input-placeholder,
    input::-moz-placeholder {
        font-size: 85%;
    }

table tbody tr td {
    vertical-align: middle !important;
}

td:nth-child(1) {
    width: 20px;
    text-align: center;
}

td:nth-child(2) {
    width: 50px;
}

td:nth-child(3) {
    width: 30%;
}

td:nth-child(4) {
    width: 80px;
    text-align: left;
}

td img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 20% !important;
}

.btn span.glyphicon {
    margin-right: 5px !important;
}

#uploadFiles:disabled {
    color: rgba(0, 0, 0, 0.40) !important;
}

    #uploadFiles:disabled span {
        color: rgba(0, 0, 0, 0.40) !important;
    }

#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: #000000;
    background: rgba(0,0,0,0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 280px;
    height: 280px;
    color: orangered;
    border: 8px #ddd solid;
    border-top: 8px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.6s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}

#tableText {
    height: 120px;
    background-color: #d3d3d3;
    background-color: rgba(211, 211, 211, 0.6);
    color: navy;
    text-align: center;
    vertical-align: middle
}

#fileActionBtn {
    margin: 10px 0 10px 0;
}

.p0 {
    padding: 0;
}
