/*
/* ----------- iPhone X ----------- */
/*https://css-tricks.com/snippets/css/media-queries-for-standard-devices*/
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    li {
        font-size: 90% !important;
    }

    #fileResult {
        height: auto !important;
    }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    li {
        font-size: 90% !important;
    }

    #fileResult {
        height: auto !important;
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    li {
        font-size: 90% !important;
    }

    #fileResult {
        height: auto !important;
    }
}
